.inputwidth {
    width: 50%;
}

.redstar {
    color: red;
    font-size: large;
    margin-top: 5px;
}

.cenitem {
    margin-top: 7%;
}

.s_heading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.infoitm {
    width: 120px;
    height: 70px;
}

.slot {
    width: 110px;
    height: 80px;
}

#itm1 {
    margin-left: 10px;
}

#itm2 {
    margin-right: 10px;
}

.gView {
    display: grid !important;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 4px;
    row-gap: 6px;
}

.gView .slot {
    padding: 0;
}

#info {
    padding: 10px;
    border: groove;
    text-align: center;
    margin: 0.5%;
    font-size: large;
}

.etcs {
    margin-top: 20px;
}

.imgcontainer {
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 15%;
    border-radius: 20%;
    margin-bottom: 0;
}